.jumbotron#controls
    center
        // Start Button
        button#btn_start.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('start'))
            i.fas.fa-play  
        a &nbsp;

        // Pause Button
        button#btn_pause.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('pause'))
            i.fas.fa-pause
        a &nbsp;

        // Stop Button
        button#btn_stop.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('stop'))
            i.fas.fa-stop 
        a &nbsp;

        // Backward Button
            button#btn_backward.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('backward'))
                i#btn_backward_icon.fas.fa-step-backward 
            a &nbsp;

        // Forward Button
        button#btn_forward.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('forward'))
            i#btn_forward_icon.fas.fa-step-forward 
        a &nbsp;

        // Save Button
            button#btn_save.btn.btn-raised.btn-sm(type='button', data-toggle='tooltip', data-placement="bottom", title=__('save'))
                i.fas.fa-save 

    br

    // Execution Speed   
        #exec_speed_container
            p
                .lead(style='font-size:.75em;') #{__('exec_speed')}:
                span#exec_speed 
                span %

    #status_container
        p
            .lead(style='font-size:.75em;') #{__('status')}:
            span#status Parado