// Jump one line to not be just about topbar
br

// Control Panel 
span#control_panel_container(data-toggle='tooltip', data-placement="left")
    form#control_panel(tabindex='0')

        // Start Button
        button#btn_start.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('start'))
            i.fas.fa-play  
        a &nbsp;

        // Pause Button
        button#btn_pause.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('pause'))
            i.fas.fa-pause
        a &nbsp;

        // Stop Button
        button#btn_stop.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('stop'))
            i.fas.fa-stop 
        a &nbsp;

        // Forward Button
        button#btn_backward.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('backward'))
           i#btn_backward_icon.fas.fa-fast-backward 
        a &nbsp;

        // Backward Button
        button#btn_forward.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('forward'))
            i#btn_forward_icon.fas.fa-step-forward 
        a &nbsp;

        // Save Button
        button#btn_save.btn.btn-raised(type='button', data-toggle='tooltip', data-placement="bottom", title=__('save'))
            i.fas.fa-save 

// Execution Speed   
#exec_speed_container
    .lead(style='font-size:1em;') #{__('exec_speed')}:
    span#exec_speed 
    span %

#status_container
    .lead(style='font-size:1em;') #{__('status')}:
    span#status
br

// General Options Container
#general_options_accordion
    .card

        // General Options Heading
        #general_options_heading.card-header
            h5.mb-0

            // General Options Heading Text
            button.btn.btn-link(data-toggle='collapse', data-target='#general_options_content', aria-expanded='true', aria-controls='general_options_content') #{__('general_options')}

        // General Options Content
        #general_options_content.collapse.show(aria-labelledby='general_options_heading', data-parent='#general_options_accordion')
            .card-body
                form

                    // Number of Cities Controller
                    .form-group
                        label(for='num_cities') #{__('num_cities')}
                        input#num_cities.form-control(type='number', placeholder='', min=4, required data-bind="value:replyNumber", value=4)

                    // Algorithms Controller (DONT FORCE IT HERE! IT IS CONTROLLED IN algorithms_manager.js)
                    .form-group
                        label(for='algorithms') #{__('algorithms')}
                        select#algorithms.form-control
                            option(selected='', value='') 


br

// Heuristics Options Container
#heuristics_accordion
    .card

        // Heuristics Options Heading
        #heuristics_heading.card-header
            h5.mb-0

            // Heuristics Options Heading Text
            button.btn.btn-link(data-toggle='collapse', data-target='#heuristics_content', aria-expanded='true', aria-controls='heuristics_content') #{__('heuristics_options')}                            

        // Heuristics Options Content
        #heuristics_content.collapse.show(aria-labelledby='heuristics_heading', data-parent='#heuristics_accordion')
            .card-body
                form
                    
                    // Heuristics Controller (DONT FORCE IT HERE! IT IS CONTROLLED IN heuristics_manager.js)
                    .form-group
                        label(for='heuristics') #{__('heuristics')}
                        select#heuristics.form-control
                            option(selected='', value='')    

