// Topbar
nav.navbar.navbar-expand-lg.sticky-top(style="height:60px !important;")

  // Left Title
  a.navbar-brand(href='#').text-light #{__('title')}

  // Left Menus
  #navbarSupportedContent.collapse.navbar-collapse
    ul.nav.nav-tabs
      // Index
      li.nav-item
        a.nav-link.text-light(class=source == "index" ? "active" : "", href='/') #{__('index')}

      // Options
      li.nav-item
        a.nav-link.text-light(class=source == "options" ? "active" : "", href='/options') #{__('options')}

      // History
      li.nav-item
        a.nav-link.text-light(class=source == "history" ? "active" : "", href='/history') #{__('history')}

      //About
      li.nav-item
        a.nav-link.text-light(class=source == "about" ? "active" : "", href='/about') #{__('about')}

  // Right Menu
  ul.nav.nav-tabs
    li.nav-item.dropdown

      // Language Dropdown
      a#navbarDropdownMenuLink.nav-link.dropdown-toggle.text-light(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{__('language')}

      // Dropdown Options
      .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink', style="right: 0; left: auto;")
        a.dropdown-item(href='/setlocale/br') #{__('portuguese')}
        a.dropdown-item(href='/setlocale/en') #{__('english')}




